html {
  height: 100%;
  background-color: rgb(69, 147, 192);
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 30rem;
  width: 22rem;
  max-height: 1020px;
  max-width: 748px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}